/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.small-label {
    font-size: 0.7em;
    text-align: right;
    vertical-align: baseline;
}

.horizontal-padding {
    padding: 0 16px;
}

.padding {
    padding: 16px 16px;
}

.full-width {
    width: 100%;
}

.mat-card {
    width: 33vw;
}

.drop-zone { 
    border: dotted 3px lightgray; 
    width: calc(100% - 2em) ;
    min-height: 100px;
    margin: 1em;
    text-align: center;
}
.drag-over { 
    border: dotted 3px red; 
}